@import "./homepage.css";

html, body {
  margin: 0;
  font-size: 20px;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  line-height: var(--line-height-loose);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
}

.theme-provider {
  background-color: var(--background);
}
